body{
    margin-top: 0;
    font-family: Dosis;
    font-weight: 800; 
}
/* nav bar padrao do app */
.extendnav{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* aqui comeca o botao de tres linahs */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border-color: transparent;
    font-family: Dosis;
    font-weight: 800; 
}

.btn div{
    height: 4px ;
    background-color: #333d41; 
    margin: 2px ;
    border-radius: 25px ;
    width: 25px ;
}

.btn:hover div {
    background-color:#939995;

}
.position{
    position: absolute;
    left: 0;
}

/* aqui termina o botao de tres linhas */

/* aqui comeca o mini relatorio */
.minirelatorio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border-color: transparent;
}

.informDeMini{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: transparent;
    border-color: transparent;
}

.vlores{
    border: 2px solid red;
}

.objetosNoPatio{
    border: 2px solid red;
}
/* aqui termina o mini relatorio */
a{
    text-decoration: none ;
}

.button4{
    padding: 5vw 2vh;
    border-color: lightgray;
    margin: 2%;
}

.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

/* pagina de loging */
.btSubmit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.corpoLoging{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 5vw 2vh;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}


.user{
    margin: 0;
    padding: 0;
    border: 0;
    border-width: 1;
    border-bottom: 1px solid red ;
    width: 100%;
    font-family: Dosis;
    font-weight: 800; 
}

.checkBox{
    font-family: helvetica,
}

.centralizartxt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.logo{
    margin-top: 3vh;
    width: 100vw;
}

.imagem{
    width: 20vw;

}
/* fim do loging */